@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;800&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Outfit", sans-serif;
}

body {
  background: black; 
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 2px solid rgba(134, 98, 1);
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgb(203, 145, 44, 0.1);
  color: #fff;
  transition: 0.3s;
}

a:hover {
  color: rgb(203, 145, 44, 0.6);
  transition: 0.3s;
}